{{ define "main" }}
  <article class="pa3 pa4-ns nested-copy-line-height nested-img mt2">
    <section class="flex-ns flex-wrap justify-around mt4">

      {{ if eq .Section "series" }}
        {{ range .Pages.ByWeight }}
          <div class="relative w-100 w-30-l mb4 bg-white shadow-1 br2 overflow-hidden">
            {{ partial "summary.html" . }}
          </div>
        {{ end }}
      {{ else }}
        {{ range .Pages }}
          <div class="relative w-100 w-30-l mb4 bg-white shadow-1 br2 overflow-hidden">
            {{ partial "summary.html" . }}
          </div>
        {{ end }}
      {{ end }}
    </section>
  </article>
{{ end }}
