<nav class="pv3 ph3 ph4-ns" role="navigation">
  <!-- Desktop menu -->
  <div class="flex justify-between items-center center tc tl-ns">
    <a href="{{ .Site.Home.RelPermalink }}" class="f3-l f4 fw2 hover-white no-underline white-90 dib flex">
      {{ with .Site.Params.site_logo }}
        <img src="{{ . }}" class="w100 relative site-logo" alt="{{ $.Site.Title }}" />
      {{ else }}
        {{ .Site.Title }}
      {{ end }}
      <span class="fr pt2 mt1 pl2 fw3">{{ .Site.Title }}</span>
    </a>
    <div class="flex-l dn items-center">
      {{/*  {{ partial "i18nlist.html" . }}  */}}
      {{ if .Site.Menus.top }}
        <ul class="pl0 mr3 tc relative">
            <li class="list f5 fw4 dib pl2 pr2 tc pb2 pb0-ns">
              <form action="/search" id="sfbc-search" class="white-90">
                <input type="text" id="keywords" name="keywords" class="input-reset ba b--black bg bg-white-90 f6 pa2 w5 br2" placeholder="Search reviews, blog posts...">
                <input type="submit" value="Search" class="dn input-reset bg-white ba pointer">
              </form>
            </li>
          {{ range .Site.Menus.top.ByWeight }}
            <li class="list f5 fw4 dib pl2 pr2 tc pb2 pb0-ns">
              <a class="hover-white no-underline white-90" href="{{ .URL }}" title="{{ .Name }} page">
                {{ .Name }}
              </a>
            </li>

          {{ end }}
        </ul>
      {{ end }}
      {{ partialCached "social-follow.html" . }}
    </div>

    <!--  Mobile menu  -->
    <i class="fa white fa-bars pointer dn-l" id="hamburger" aria-hidden="true"></i>
    <i class="fa fa-times white pointer dn dn-l" id="menu-close" aria-hidden="true"></i>
    <div class="mobile-menu bg-near-black absolute left-0 top-0 w-100 z-1 flex flex-column items-center" id="mobile-menu">
      <ul class="flex pa3 justify-between flex-column w-100">
        <li class="list dib mb3">
          <form action="/search" id="sfbc-search" class="white-90">
            <input type="text" id="keywords" name="keywords" class="input-reset ba b--black bg bg-white-90 f6 pa2 w5 br2" placeholder="Search reviews, blog posts...">
            <input type="submit" value="Search" class="dn input-reset bg-white ba pointer">
          </form>
        </li>
        {{ range .Site.Menus.top.ByWeight }}
          <li class="list dib mb2">
            <a class="hover-white no-underline white-90 w-100 dib bb b--near-white pa2 f4" href="{{ .URL }}" title="{{ .Name }} page">
              {{ .Name }}
            </a>
          </li>
        {{ end }}
      </ul>
    </div>
  </div>
</nav>
