{{ define "main" }}
  <div class="pa2 pb0 w-100 w-60-ns center tc b">
    <p id="empty-search" class="dn">
      Enter a query in the search box above to get started.
    </p>
    <p id="results-summary" class="dn">
      <span id="results-summary-count"></span> search results for "<span class="results-summary-term"></span>"
    </p>
    <p id="no-results" class="dn">
      Sorry, we didn't find any matches for "<span class="results-summary-term"></span>"
    </p>
  </div>
  <div class="pa3 pa4-ns w-100 w-60-ns center" style="min-height: 40vh;" id="search-results-container">
    <!-- Search results render here -->
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/lunr.js/2.3.9/lunr.min.js" integrity="sha512-4xUl/d6D6THrAnXAwGajXkoWaeMNwEKK4iNfq5DotEbLPAfk6FSxSP3ydNxqDgCw1c/0Z1Jg6L8h2j+++9BZmg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script async src="/js/search.js"></script>
{{ end }}
